<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>planet eniehack</title>
    <style>
        .post > p {
            display: inline;
        }
        {{ range $site := .Sites -}}
            li.site-{{ $site.Id }}::before {
                display: inline-block;
                background-image: url("{{$site.IconUrl}}");
                height: 16px;
                width: 16px;
            }
            li.site-{{ $site.Id }} {
                list-style: none;
            }
        {{ end -}}
    </style>
</head>
<body>
   <main>
    <article>
        <h1>planet eniehack</h1>
        <p>
            <a href="https://planet.debian.org/">Planet Debian</a>、<a href="https://planet.osm.org/">Planet OSM</a>や<a href="https://kanzaki.com/info/planet">Planet masaka</a>のように、プロジェクトや個人の最新情報を1つのページにまとめたものです。
        </p>
        {{ range $i, $k := .Keys -}}
        <section id="{{$k}}">
            <h2><time datetime="{{- $k -}}">{{- $k -}}</time></h2>
            <ul style="padding-left: 20px;">
            {{ range $j, $post := (index $.Posts $k) -}}
                <li class="post site-{{- $post.Site.Id -}}" id="{{- $post.Id -}}">
                    <img src="{{- $post.Site.IconUrl -}}" width="16" height="16" />
                    <p>
                        {{- $post.Content -}}
                    </p>
                    (<a href="{{- $post.Url -}}"><time datetime="{{- $post.ParsedDate.Format "2006-01-02T15:04:05Z07:00" -}}">{{- $post.ParsedDate.Format "15:04" -}}</time></a>)
                </li>
            {{ end -}}
            </ul>
        </section>
        {{ end -}}
    </article>
   </main> 
   <footer>
        <a href="https://github.com/eniehack/planet-someone">ソースコード（GitHub）</a>
   </footer>
</body>
